{% extends 'base.html' %}
  {% block title %}Postlar{% endblock title %}
{% block content %}
<br>
  <div class="container-fluid">
      {% for article in object_list %}
    <div class="card">
      <div class="card-body">
        <h1><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h1>
            {% if article.photo %}
                <img class="card-img-top" width="500" height="500" src="{{article.photo.url}}" alt="article.title">
            {% endif %}
            <p>{{ article.summary }}...<a href="{% url 'article_detail' article.pk %}">batafsil</a></p>
            <span>muallif {{ article.author | title }} . {{ article.date }}</span>
      </div>
    </div>
    <p></p>
      {% endfor %}  
  </div>
{% endblock content %}